#absoluteHeader {
    text-align: center
}

.post {
    position: relative;
    background: url(//s.ytimg.com/yt/imgbin/www-refreshbg-vflC3wnbM.png) 0;
    padding: 2em;
    margin-bottom: 5%;
}


.buttons {
    position: static;
    margin: auto;
    margin-bottom: 2em;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}

.centerContent {
    display: table-cell;
    vertical-align: middle;
}

.poem {
    position: static;
    margin: auto;
    margin-bottom: 10%;
    width: 33%;
    text-align: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.content {
    display: flex;
}

.doodleleft {
    width : 33%;
}

.doodleright {
    width : 33%;
}

.musicStuff {
    position : relative;
    text-align: center;
}

#hug {
    position : relative;
}

#feellikethat {
    position : absolute;
    top : 60% ;
    left : 18%
}
